
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Recursos</title>
</head>
<body onload="setarVisibilidade();">
    <nav id="nave">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">Listas</a>
                <div class="dropdown-content">
                    <a href="#">@Html.ActionLink("Atletas", "Atletas", "Lista")</a>
                    <a href="#">@Html.ActionLink("Equipe", "Equipes", "Lista")</a>
                    <a href="#">@Html.ActionLink("Evento", "Eventos", "Lista")</a>
                    <a href="#">@Html.ActionLink("Local", "Locais", "Lista")</a>
                    <a href="#">@Html.ActionLink("Recurso", "Recursos", "Lista")</a>
                </div>
            </li>
            <li><a href="#news">Perfil</a></li>
            <li><a class="active" href="#home">Home</a></li>
            <li id="logo-nav"></li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
